body {
background-color:blue;
}
p{font-family: sans-serif;}

h1{
  color:purple;
  text-align: center;
}

h1{font-family: sans-serif;

}

h1{font-size: 70px;

}
p{font-size: 40px;
}

img.mig {
  float: right;
}
